#portafolio {
  padding-top: 1.25rem;
  background-color: var(--blanco-secundario);
}

#portafolio img {
  width: 100%;
  height: 100%;
}

#portafolio .proyecto .text-image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#portafolio .proyecto {
  padding: 0;
}

#portafolio .proyecto:hover .text-image {
  animation: hoverProyecto 0.4s forwards;
}

@media (min-width: 576px) {
  #portafolio {
    margin-top: 3.125rem;
  }
}

@keyframes hoverProyecto {
  100% {
    opacity: 1;
    background: var(--celeste-portafolio);
  }
}
