#portafolio {
  padding-top: 1.25rem;
  background-color: var(--blanco-secundario);
}

#portafolio img {
  width: 100%;
  height: 100%;
}

#portafolio .proyecto .text-image {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 300ms 0ms;
}

#portafolio .proyecto:hover .text-image {
  background: var(--celeste-portafolio);
  cursor: pointer;
}

#portafolio .proyecto .text-image * {
  /* SELECCIONO A TODOS LOS ELEMENTOS HIJOS*/
  transition: 300ms 0ms;
  transform: scale(0);
}

#portafolio .proyecto:hover .text-image * {
  transform: scale(1);
}

#portafolio .proyecto {
  padding: 0;
}

@media (min-width: 576px) {
  #portafolio {
    margin-top: 3.125rem;
  }
}
